<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="author" content="杭州刀豆网络科技">
	<meta name="keywords" content="维权，互联网版权，知乎，骑士" />
	<meta name="description" content="维权骑士是首家专为原创者维权的网站，为原创发声，为原创者代言" />
	<title>维权骑士_一个为原创者提供版权管理和保护服务的网站</title>
	<link href="../css/index.css?v=85accff1ca" rel="stylesheet">
</head>
<body>
	<div class="dd-demo">
		<h3>刀豆组件库</h3>
	</div>
	<div id="content">
	</div>
	<script type="text/javascript" src="../compile/index.entry.js?v=262862eac1" defer></script>
	<script type="text/javascript" src="../comp/modal/modal.js" defer></script>
</body> 
</html> 